PROJECT_NAME=project-template-cakephp
PROJECT_URL=https://github.com/QoboLtd/project-template

NGINX_SITE_MAIN=www.qobo.biz
NGINX_SITE_OTHER=
NGINX_ROOT_PREFIX=/var/www/html
NGINX_LOG_PREFIX=/var/log/nginx
NGINX_FASTCGI_PASS=127.0.0.1:9000

TEMPLATE_SRC=etc/nginx.conf.template
TEMPLATE_DST=etc/nginx.conf

DEBUG=0
SALT=some_super_secret_random_string_here_which_is_at_least_32_bytes_long

LETSENCRYPT_EMAIL=
LETSENCRYPT_WEBROOT=
LETSENCRYPT_DOMAINS=

DB_ADMIN_USER=root
DB_ADMIN_PASS=

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=

DB_DUMP_PATH=etc/mysql.sql

DEV_USER=qobo
DEV_PASS=qobo
DEV_EMAIL=webdev@qobocloud.com

GIT_REMOTE=origin
GIT_BRANCH=

CAKE_CONSOLE=bin/cake

#Upload Directory
CHMOD_PATH=webroot/uploads
CHOWN_PATH=webroot/uploads
CHGRP_PATH=webroot/uploads
CHOWN_USER=nginx
CHGRP_GROUP=nginx

# Session variables
APP_SESSION_SECURE_COOKIE=0
APP_SESSION_COOKIE_HTTP_ONLY=0
APP_SESSION_USE_ONLY_COOKIES=1
# Inactive session in minutes
APP_SESSION_TIMEOUT=

# iframe rendering header. Options are "DENY", "SAMEORIGIN" and "ALLOW-FROM https://example.com". Set to empty value to skip adding this header.
ALLOW_IFRAME_RENDERING=DENY

# set to true (1) to enable API authentication
API_AUTHENTICATION=0
API_USER=
API_PASS=
