sudo: true
dist: trusty

language: php

php:
    - 5.6
    - 7.0
    - 7.1
    - nightly

node_js:
  - "7"

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules

matrix:
    fast_finish: true
    allow_failures:
        - php: nightly

install:
    - ./bin/composer install --no-interaction --no-progress --no-suggest
    - yarn install
    - mkdir -p build/logs
    - ./bin/build app:install CHOWN_USER=$USER,CHGRP_GROUP=$USER,DB_NAME=app,DB_ADMIN_USER=root,DB_USER=root

before_script:
    - ./bin/phpserv >/dev/null 2>&1 &
    - sleep 10

script:
  - yarn test
  - ./vendor/bin/phpunit --group example --no-coverage
  - ./vendor/bin/phpunit --exclude-group example
  - ./vendor/bin/phpcs

after_success:
  - curl -s https://codecov.io/bash > /tmp/codecov.sh
  - chmod +x /tmp/codecov.sh
  - /tmp/codecov.sh -s build/test-results

notifications:
  email:
    - webdev@qobocloud.com
