/* Global custom styles go here */
.table-vertical-align > thead > tr > th,
.table-vertical-align > tbody > tr > th,
.table-vertical-align > tfoot > tr > th,
.table-vertical-align > thead > tr > td,
.table-vertical-align > tbody > tr > td,
.table-vertical-align > tfoot > tr > td {
    vertical-align: middle;
}

/* Highlight required fields */
.required label::after {
    content: " *";
    color: red;
}

.logo .logo-lg img,
.logo .logo-mini img {
    vertical-align: initial;
}

/* Wrap long menu item names */
.sidebar-menu li.treeview {
    white-space: normal;
}